<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center my-4">$ BitCoins Rate $</h1>

      <div class="card">
        <div class="card-header">Desenvolvedor</div>
        <div class="card-body">
          <p>
            <span class="badge bg-success mx-1">Nome</span> Pedro Luiz Souza
            Salvino
          </p>
          <p><span class="badge bg-info mx-1">RA</span> 0050831921022</p>
        </div>
      </div>
      <hr />
      <h2 class="text-center h3 my-3">Atualizações sobre a cotação</h2>

      <table class="table table-striped">
        <thead class="bg-custom text-center">
          <tr>
            <th scope="col">Data e Horário</th>
            <th scope="col">Real Brasileiro (BRL)</th>
            <th scope="col">Dólar Estadunidense (USD)</th>
          </tr>
        </thead>
        <tbody class="bg-light text-center">
          <tr *ngFor="let rate of this.bitCoin.bitCoinRates">
            <td>{{ rate.time.updated }}</td>
            <td>R$ {{ rate.bpi.BRL.rate_float }}</td>
            <td>$ {{ rate.bpi.USD.rate_float }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
